#title {
	font-family: Arial, sans-serif;
	font-size: 4em;
	text-align: center;
	color: #00baff;
	letter-spacing: 0.3em;
}
p {
	text-indent: 1em;
	line-height: 1.5em;
}
em {
	color: #2222ff;
	font-style: normal;
	font-weight: bold;
}
.subTitle {
	color: #22bbcc;
	font-size: 18px;
}
.keyword {
	color: #ff22bb;
	font-family: "Times New Roman", times, serif;
	font-style: italic;
	text-decoration: underline;
}
#coppy {
	text-align: center;
	font-style: normal;
	font-size: 10px;
}
