body {
	background-color: #fff;
	background-image: url(../images/htc11_01_back.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#box {
	width: 600px;
	margin: 0 auto;
	position: relative;
}
h1 {
	font-size: 1.2em;
	color: #fff;
	font-family: arial, sans-serif;
}
#text {
	font-size: 0.8em;
	line-height: 1.5;
	width: 600px;
	height: 5em;
	overflow: auto;
	top: 260px;
}
#box p {
	position: absolute;
}
#photo1 {
	top: 50px;
	left: 20px;
	z-index: 1;
}
#photo2 {
	top: 120px;
	left: 120px;
	z-index: 3;
}
#photo3 {
	top: 50px;
	left: 220px;
	z-index: 2;
}
#photo4 {
	top: 120px;
	left: 320px;
	z-index: 4;
}